$accent-color: #c49d7f;

$white: #fff;
$black: #151515;

$footer: #333333;
$footer-white: #f2f5f7;

$ff: "Circe", sans-serif;

@import "src/fonts"; 
// @import "src/reset";
@import "src/reused";



/* HEADER */
.header {
	position: fixed;
	top: 0; left: 0; right: 0;
	z-index: 1000;
  overflow: hidden;
  background-color: $white;

  box-shadow:  0 0 2px hsla(0, 0%, 0%, 0.2);

		&__top {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-block: .5rem;
		}

		&__top--left {
			display: flex;
			column-gap: 3.5rem;
		}

		&__top--right {
				display: flex;
				column-gap: 3.5rem;
				align-items: center;
		}

		&__phone {
			display: flex;
			column-gap: 1rem;
			align-items: center;

			img{
				width: 2rem;
			}
			p{
				font-weight: 400;
				font-size: 1.5rem;
				line-height: 22px;
				text-transform: uppercase;
				color: $black;
			}
		}
}

.header__language {
	position:relative;
}
.header__language:hover .lang-default{
	display:block;
	opacity:1;
	z-index:5555;
	animation:fadeEffect 1s;
}
@keyframes fadeEffect{from{opacity:0}
to{opacity:1}
} 

.lang-active {
  cursor: pointer;
	position:relative;
	font-weight:500;
	line-height:1.2;
	color:$black;
	background: #F7F7F7;
	border-radius: 7px;
	padding: 5px 25px 5px 10px;
}
.lang-active:before {
	  content: "";
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right: 7px;
    background: url(/assets/images/icons/arrow-down.svg) no-repeat center;
    background-size: contain;
    width: 16px;
    height: 16px;
}
.lang-default{
	position:absolute;
	width:100%;
	display:none;
}

.lang-ul{
	background-color: #F7F7F7;
	border-radius: 0 0 7px 7px;
}
.lang-ul li:hover{
	background-color: darken(#F7F7F7, 7%);
	border-radius: 0 0 7px 7px;

}
.lang-ul a{
	display:block;
	width:100%;
	padding:8px;
	color:$black;
}

.time-work {
	display: flex;
	column-gap: 1rem;
	align-items: center;

	img{
		width: 2rem;
	}
	p{
		font-weight: 400;
		font-size: 1.5rem;
		line-height: 22px;
		text-transform: uppercase;
		color: $black;
	}
}
.logo {
	width: 6.3rem;
	height: auto;
}


.nav {
	padding-top: 1.6rem;
	margin-top: .5rem;
	margin-bottom: 1.6rem;
	
		&__list {
			display: flex;
			justify-content: space-between;

		}

		&__link {
			font-weight: 400;
			font-size: 1.7rem;
			line-height: 25px;
			text-transform: uppercase;
			color: $black;
			transition: color .2s linear;

			&:hover{
				color: $accent-color;
			}
		}
}

.close-btn,
.toggle-btn{
	display: none;
  cursor: pointer;
}

.overlay {
	position: fixed;
	inset: 0;
	background-color: hsla(0, 0%, 0%, 0.7);
	z-index: 4;
	opacity: 0;
	pointer-events: none;
	transition:  0.25s ease;
 }
 
 .overlay.active {
	opacity: 1;
	pointer-events: all;
 }


 /* HERO */
.hero{
	.hero-slider{
		.box{
			min-height: 100vh;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 2rem;
			background-size: cover !important;
			background-position: center !important;

			.content {
				text-align: center;
				max-width: 70rem;


			}
		}
		
	}
}
.hero-title {
	font-weight: 700;
	font-size: 6rem;
	line-height: 6.2rem;
	text-transform: uppercase;
	color: $white;
	transition-delay: 0.2s;
}

.hero-text {
	font-weight: 400;
	font-size: 1.7rem;
	line-height: 2.5rem;
	color: $white;
	padding-top: 2.7rem;
	transition-delay: 0.3s;
}

.hero .hero-slider .box .content > * {
	transform: translateY(2rem);
	opacity: 0;
}
.hero .hero-slider .swiper-slide-active .content > * {
	transform: translateY(0rem);
	opacity: 1;
}

span.swiper-pagination-bullet {
	width: 8px;
	height: 8px;
	border: 1px solid #FFFFFF;
	opacity: 1;
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: white;
	width: 22px;
	border-radius: 27%;
	border: 0;
}
.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
	gap: 1.7rem;
	display: flex;
	justify-content: center;
	bottom: 11rem
}


@import "src/media";
