 /* =========================================@media  950px============ */
 @media screen and (max-width: 950px) {
  html {
    font-size: 55%;
 }
  /* HEADER */
 .nav__link {
			font-size: 1.4rem;
	}

	.header__top--right,
  .header__top--left {
				column-gap: 1.7rem;
		}
}

/* =========================================@media  760px============ */
@media screen and (max-width: 760px){
  .time-work {
    display: none;
  }
  .header__top--right{
    display: none;
  }
  .toggle-btn{display: inline-block}
  .close-btn{
    position: absolute;
    display: inline-block;
    top: 20px;
    right: 20px;
   }
 
   /*  */

   body.active { overflow: hidden; }

   .header__bottom {
    position: fixed;
    top: 0;
    right: -320px;
    max-width: 320px;
    width: 100%;
    height: 100%;
    background-color: $white;
    padding: 40px;
    padding-block-end: 100px;
    overflow-y: auto;
    z-index: 5;
    visibility: hidden;
    transition: 0.25s cubic-bezier(0.51, 0.03, 0.64, 0.28);
  }
  
  .header__bottom.active {
    transform: translateX(-320px);
    visibility: visible;
    transition: 0.5s cubic-bezier(0.33, 0.85, 0.4, 0.96);
  }

.nav__list{
  display: block;
}
.nav__link{
  margin-bottom: 15px;
}

/*  */
.hero .hero-slider .box{
  min-height: 80vh;
}
.hero-title{
  font-size: 4.5rem;
  line-height: 4.7rem;
}
.hero-text {
	padding-top: 1.5rem;
}
}
/* =========================================@media  450px============ */
@media screen and (max-width: 450px){
  html {
    font-size: 50%;
 }
}